body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: #007bff;
  padding: 10px 20px;
  text-align: center;
}

.header a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.register-container {
  width: 100%;
  max-width: 400px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center; 
}

.register-form {
  display: inline-block;
  width: 100%;
}

.register-form label {
  display: block; 
  margin-bottom: 5px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form button {
  width: 80%; 
  max-width: 300px; 
  padding: 10px;
  margin: 0 auto 15px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block; 
}

.register-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.register-form legend {
  padding-bottom: 10px;
}

.register-form input[type="radio"] {
  margin-right: 5px;
}

.register-form button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block; 
}

.register-form button:hover {
  background-color: #218838;
}
